In [1]:
import pandas as pd
import numpy as np
import networkx as nx

In [2]:
# Read it with python. Set the first column as the index when reading the file.
df = pd.read_csv("social_indicator.txt", sep="	", index_col="Index")
df

,economicActivityFemale,country,region,totalfertilityrate,lifeMale,infantMortality,gdpPerCapita,economicActivityMale,illiteracyMale,illiteracyFemale,lifeFemale,geographic_location,contraception
Index,,,,,,,,,,,,,
1,1.9,Yemen,other,7.60,57.4,80,1924,80.6,32.406,69.552,58.4,Western Asia,0.0
9,15.8,Oman,other,7.20,68.9,25,30404,84.1,3.010,7.310,73.3,Western Asia,53.0
124,58.4,Ethiopia,other,7.00,48.4,107,2973,84.7,54.500,74.700,51.6,Eastern Africa,79.0
3,7.2,Afghanistan,other,6.90,45.0,154,2474,87.5,52.800,85.000,46.0,Southern Asia,NaN
11,20.2,Maldives,other,6.80,65.7,49,23343,77.3,6.700,7.000,63.3,Southern Asia,53.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
74,47.3,Germany,west,1.30,73.4,6,56956,68.1,1.000,1.000,79.9,Western Europe,77.0
97,51.3,Slovenia,west,1.30,69.2,7,40820,64.5,0.264,0.432,77.8,Southern Europe,0.0
110,54.1,Estonia,west,1.30,63.9,12,39729,71.5,0.200,0.200,75.0,Northern Europe,79.0
41,37.0,Spain,west,1.22,74.5,7,41546,63.1,1.800,3.900,81.5,Southern Europe,0.0
36,34.6,Italy,west,1.19,75.1,7,43376,61.6,1.400,2.400,81.4,Southern Europe,77.0

In [3]:
# Sort the row index into ascending order.
df.sort_index(inplace=True)
df

,economicActivityFemale,country,region,totalfertilityrate,lifeMale,infantMortality,gdpPerCapita,economicActivityMale,illiteracyMale,illiteracyFemale,lifeFemale,geographic_location,contraception
Index,,,,,,,,,,,,,
1,1.9,Yemen,other,7.60,57.4,80,1924,80.6,32.406,69.552,58.4,Western Asia,0.0
2,6.9,Saudi Arabia,other,5.90,69.9,23,48099,78.8,28.500,49.800,73.4,Western Asia,17.0
3,7.2,Afghanistan,other,6.90,45.0,154,2474,87.5,52.800,85.000,46.0,Southern Asia,NaN
4,7.8,Algeria,other,3.81,67.5,44,11433,76.4,26.100,51.000,70.3,Northern Africa,NaN
5,9.9,Iran,other,4.77,68.5,39,13513,79.8,22.300,40.700,70.0,Southern Asia,77.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
151,79.4,Burkina Faso,other,6.57,45.1,97,2334,88.9,70.500,90.800,47.0,Western Africa,79.0
152,84.7,Cambodia,other,4.50,52.6,102,4930,77.3,19.500,13.500,55.4,South-eastern Asia,79.0
153,85.0,Solomon Islands,other,4.98,69.6,23,2483,87.0,16.300,31.000,73.9,Oceania,0.0
154,86.5,Mozambique,other,6.06,45.5,110,1293,88.2,42.300,76.700,48.4,Eastern Africa,53.0
155,90.6,Burundi,other,6.28,45.5,114,772,90.1,50.700,77.500,48.8,Eastern Africa,79.0

In [4]:
# Sort the column index lexicographically.

In [5]:
# Make a column â€˜westâ€™ with True and False values indicating whether the region is west. Then delete the original region column.
df["west"] = df["region"]
df["west"].replace({"west": True}, inplace=True)
df["west"].replace({"other": False}, inplace=True)
df.drop("region", axis=1, inplace=True)
df

,economicActivityFemale,country,totalfertilityrate,lifeMale,infantMortality,gdpPerCapita,economicActivityMale,illiteracyMale,illiteracyFemale,lifeFemale,geographic_location,contraception,west
Index,,,,,,,,,,,,,
1,1.9,Yemen,7.60,57.4,80,1924,80.6,32.406,69.552,58.4,Western Asia,0.0,False
2,6.9,Saudi Arabia,5.90,69.9,23,48099,78.8,28.500,49.800,73.4,Western Asia,17.0,False
3,7.2,Afghanistan,6.90,45.0,154,2474,87.5,52.800,85.000,46.0,Southern Asia,NaN,False
4,7.8,Algeria,3.81,67.5,44,11433,76.4,26.100,51.000,70.3,Northern Africa,NaN,False
5,9.9,Iran,4.77,68.5,39,13513,79.8,22.300,40.700,70.0,Southern Asia,77.0,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...
151,79.4,Burkina Faso,6.57,45.1,97,2334,88.9,70.500,90.800,47.0,Western Africa,79.0,False
152,84.7,Cambodia,4.50,52.6,102,4930,77.3,19.500,13.500,55.4,South-eastern Asia,79.0,False
153,85.0,Solomon Islands,4.98,69.6,23,2483,87.0,16.300,31.000,73.9,Oceania,0.0,False
154,86.5,Mozambique,6.06,45.5,110,1293,88.2,42.300,76.700,48.4,Eastern Africa,53.0,False
155,90.6,Burundi,6.28,45.5,114,772,90.1,50.700,77.500,48.8,Eastern Africa,79.0,False

In [6]:
# Suppose we are not interested in studying fertility rate (â€˜totalfertilityrateâ€™) and contraception (â€˜contraceptionâ€™).
# Drop these two columns.
df.drop("totalfertilityrate", axis=1, inplace=True)
df.drop("contraception", axis=1, inplace=True)
df

,economicActivityFemale,country,lifeMale,infantMortality,gdpPerCapita,economicActivityMale,illiteracyMale,illiteracyFemale,lifeFemale,geographic_location,west
Index,,,,,,,,,,,
1,1.9,Yemen,57.4,80,1924,80.6,32.406,69.552,58.4,Western Asia,False
2,6.9,Saudi Arabia,69.9,23,48099,78.8,28.500,49.800,73.4,Western Asia,False
3,7.2,Afghanistan,45.0,154,2474,87.5,52.800,85.000,46.0,Southern Asia,False
4,7.8,Algeria,67.5,44,11433,76.4,26.100,51.000,70.3,Northern Africa,False
5,9.9,Iran,68.5,39,13513,79.8,22.300,40.700,70.0,Southern Asia,False
...,...,...,...,...,...,...,...,...,...,...,...
151,79.4,Burkina Faso,45.1,97,2334,88.9,70.500,90.800,47.0,Western Africa,False
152,84.7,Cambodia,52.6,102,4930,77.3,19.500,13.500,55.4,South-eastern Asia,False
153,85.0,Solomon Islands,69.6,23,2483,87.0,16.300,31.000,73.9,Oceania,False
154,86.5,Mozambique,45.5,110,1293,88.2,42.300,76.700,48.4,Eastern Africa,False
155,90.6,Burundi,45.5,114,772,90.1,50.700,77.500,48.8,Eastern Africa,False

Which variable is the most correlated with GDP per capita? Which variable is the least correlated with GDP per capita?

I believe that illiteracy is correlated most with GDP per capita. Perhaps lifeMale and lifeFemale are least correlated with GDP per capita.

In [7]:
# Use the column â€˜geographic_locationâ€™ to create a new column called â€˜continentâ€™. 
# Merge the values of the â€˜geographic column' appropriately to obtain 6 distinct values for the â€˜continentâ€™ column 
# â€“ Asia, Africa, North America, South America, Europe and Oceania. Drop the column â€˜geographic_locationâ€™.
df["continent"] = df["geographic_location"]
df["continent"] = df["continent"].replace({"Northern": ""}, regex=True)
df["continent"] = df["continent"].replace({"North-eastern": ""}, regex=True)
df["continent"] = df["continent"].replace({"Eastern": ""}, regex=True)
df["continent"] = df["continent"].replace({"South-eastern": ""}, regex=True)
df["continent"] = df["continent"].replace({"Southern": ""}, regex=True)
df["continent"] = df["continent"].replace({"South-western": ""}, regex=True)
df["continent"] = df["continent"].replace({"Western": ""}, regex=True)
df["continent"] = df["continent"].replace({"North-western": ""}, regex=True)
df["continent"] = df["continent"].replace({"Middle": ""}, regex=True)
df["continent"] = df["continent"].replace({"Central America": ""}, regex=True)
df["continent"] = df["continent"].replace({"Central": ""}, regex=True)
df.drop("geographic_location", axis=1, inplace=True)
df

,economicActivityFemale,country,lifeMale,infantMortality,gdpPerCapita,economicActivityMale,illiteracyMale,illiteracyFemale,lifeFemale,west,continent
Index,,,,,,,,,,,
1,1.9,Yemen,57.4,80,1924,80.6,32.406,69.552,58.4,False,Asia
2,6.9,Saudi Arabia,69.9,23,48099,78.8,28.500,49.800,73.4,False,Asia
3,7.2,Afghanistan,45.0,154,2474,87.5,52.800,85.000,46.0,False,Asia
4,7.8,Algeria,67.5,44,11433,76.4,26.100,51.000,70.3,False,Africa
5,9.9,Iran,68.5,39,13513,79.8,22.300,40.700,70.0,False,Asia
...,...,...,...,...,...,...,...,...,...,...,...
151,79.4,Burkina Faso,45.1,97,2334,88.9,70.500,90.800,47.0,False,Africa
152,84.7,Cambodia,52.6,102,4930,77.3,19.500,13.500,55.4,False,Asia
153,85.0,Solomon Islands,69.6,23,2483,87.0,16.300,31.000,73.9,False,Oceania
154,86.5,Mozambique,45.5,110,1293,88.2,42.300,76.700,48.4,False,Africa
155,90.6,Burundi,45.5,114,772,90.1,50.700,77.500,48.8,False,Africa

In [ ]:
# Create a complete graph with European country names as nodes.
def all_pairs_digraph(nodes):
    for i, u in enumerate(nodes):
        for j, v in enumerate(nodes):
            if i < j:
                yield u, v
                yield v, u

def make_complete_directed_graph(n):
    G = nx.DiGraph()
    nodes = n
    G.add_nodes_from(nodes)
    G.add_edges_from(all_pairs_digraph(nodes))
    return G

complete_graph = make_complete_directed_graph(df["country"])

nx.draw_circular(complete_graph, 
                 node_color='C2', 
                 node_size=1000, 
                 with_labels=True)